<section id="about" class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24" aria-label="About me">
  <div
    class="sticky top-0 z-20 -mx-6 mb-4 w-screen bg-neutral-900/75 px-6 py-5 backdrop-blur md:-mx-12 md:px-12 lg:sr-only lg:relative lg:top-auto lg:mx-auto lg:w-full lg:px-0 lg:py-0 lg:opacity-0"
  >
    <h2 class="text-sm font-bold uppercase tracking-widest text-neutral-200 lg:sr-only">About</h2>
  </div>
  <div>
    <p class="mb-4">
      I've been fascinated by programming since I was a kid. My first experience was with a famous
      <a
        class="font-medium text-neutral-200 hover:text-teal-300 focus-visible:text-teal-300"
        href="https://eu.shop.battle.net/es-es/product/diablo-ii-lord-of-destruction"
        target="_blank"
        rel="noreferrer noopener"
        aria-label="Diablo II: Lord of Destruction (opens in a new tab)"
        >Blizzard game</a
      >, I created a program to automate some character actions, which ignited my passion for coding.
    </p>
    <p class="mb-4">
      Currently, I develop user-friendly interfaces for my current
      <a
        class="font-medium text-neutral-200 hover:text-teal-300 focus-visible:text-teal-300"
        href="https://www.massimodutti.com/"
        target="_blank"
        rel="noreferrer noopener"
        aria-label="Massimo Dutti Eccomerce (opens in a new tab)"
        >company</a
      >. I enjoy keeping up with technology, testing and implementing new features, and finding the balance between
      clean code and reusable code. I'm also immersed in the world of mobile development.
    </p>
    <p class="mb-4">
      Away from the keyboard, I enjoy running in the mountains. At home, it's all about quality time with my wife and
      our animals.
    </p>
  </div>
</section>
