<section id="projects" class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24" aria-label="Selected projects">
  <div
    class="sticky top-0 z-20 -mx-6 mb-4 w-screen bg-neutral-900/75 px-6 py-5 backdrop-blur md:-mx-12 md:px-12 lg:sr-only lg:relative lg:top-auto lg:mx-auto lg:w-full lg:px-0 lg:py-0 lg:opacity-0"
  >
    <h2 class="text-sm font-bold uppercase tracking-widest text-neutral-200 lg:sr-only">Projects</h2>
  </div>
  <div>
    <ul class="group/list">
      <li class="mb-12">
        <div
          class="group relative grid gap-4 pb-1 transition-all sm:grid-cols-8 sm:gap-8 md:gap-4 lg:hover:!opacity-100 lg:group-hover/list:opacity-50"
        >
          <div
            class="absolute -inset-x-4 -inset-y-4 z-0 hidden rounded-md transition motion-reduce:transition-none lg:-inset-x-6 lg:block lg:group-hover:bg-neutral-800/50 lg:group-hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)] lg:group-hover:drop-shadow-lg"
          ></div>
          <div class="z-10 sm:order-2 sm:col-span-6">
            <h3>
              <a
                class="inline-flex items-baseline font-medium leading-tight text-neutral-200 hover:text-teal-300 focus-visible:text-teal-300 group/link text-base"
                href="https://apps.apple.com/es/app/wordwaves/id6478419740"
                target="_blank"
                rel="noreferrer noopener"
                aria-label="WordWaves App (opens in a new tab)"
                ><span
                  class="absolute -inset-x-4 -inset-y-2.5 hidden rounded md:-inset-x-6 md:-inset-y-4 lg:block"
                ></span
                ><span
                  >WordWaves
                  <span class="inline-block"
                    >App<svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      class="inline-block h-4 w-4 shrink-0 transition-transform group-hover/link:-translate-y-1 group-hover/link:translate-x-1 group-focus-visible/link:-translate-y-1 group-focus-visible/link:translate-x-1 motion-reduce:transition-none ml-1 translate-y-px"
                      aria-hidden="true"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z"
                        clip-rule="evenodd"
                      ></path></svg></span></span
              ></a>
            </h3>
            <p class="mt-2 text-sm leading-normal">
              This app is designed to provide motivational quotes while offering a practical opportunity to gain
              experience in hybrid app development. By implementing hexagonal architecture, the app ensures a scalable
              and maintainable codebase. Additionally, it includes reusable modules for future projects. This
              development journey also encompasses learning about privacy policies, integrating advertisements, and
              other essential aspects of app creation. The app is available for download on both the Apple App Store and
              Google Play Store.
            </p>
          </div>
          <img
            alt="Wordwaves App"
            loading="lazy"
            width="200"
            height="48"
            decoding="async"
            data-nimg="1"
            class="rounded border-2 border-neutral-200/10 transition group-hover:border-neutral-200/30 sm:order-1 sm:col-span-2 sm:translate-y-1"
            style="color: transparent"
            src="https://play-lh.googleusercontent.com/R7DMiCrgS8S-i0nyJ-J8acQ2jzOSLeotsuH6vUeQ-ZweY5PKHfVGKvmEYvZzX3v-Hvs=w416-h235-rw"
          />
        </div>
      </li>
      <li class="mb-12">
        <div
          class="group relative grid gap-4 pb-1 transition-all sm:grid-cols-8 sm:gap-8 md:gap-4 lg:hover:!opacity-100 lg:group-hover/list:opacity-50"
        >
          <div
            class="absolute -inset-x-4 -inset-y-4 z-0 hidden rounded-md transition motion-reduce:transition-none lg:-inset-x-6 lg:block lg:group-hover:bg-neutral-800/50 lg:group-hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)] lg:group-hover:drop-shadow-lg"
          ></div>
          <div class="z-10 sm:order-2 sm:col-span-6">
            <h3>
              <a
                class="inline-flex items-baseline font-medium leading-tight text-neutral-200 hover:text-teal-300 focus-visible:text-teal-300 group/link text-base"
                href="https://www.pok.tech/"
                target="_blank"
                rel="noreferrer noopener"
                aria-label="POK landing (opens in a new tab)"
                ><span
                  class="absolute -inset-x-4 -inset-y-2.5 hidden rounded md:-inset-x-6 md:-inset-y-4 lg:block"
                ></span
                ><span
                  >POK
                  <span class="inline-block"
                    >Landing<svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      class="inline-block h-4 w-4 shrink-0 transition-transform group-hover/link:-translate-y-1 group-hover/link:translate-x-1 group-focus-visible/link:-translate-y-1 group-focus-visible/link:translate-x-1 motion-reduce:transition-none ml-1 translate-y-px"
                      aria-hidden="true"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z"
                        clip-rule="evenodd"
                      ></path></svg></span></span
              ></a>
            </h3>
            <p class="mt-2 text-sm leading-normal">
              Modern and Responsive Design for POK Landing Page, an Innovative Company in the Issuance of Immutable
              Diplomas through NFT Certificates.
            </p>
          </div>
          <img
            alt="POK landing"
            loading="lazy"
            width="200"
            height="48"
            decoding="async"
            data-nimg="1"
            style="height: 48px; object-fit: cover"
            class="rounded border-2 border-neutral-200/10 transition group-hover:border-neutral-200/30 sm:order-1 sm:col-span-2 sm:translate-y-1"
            style="color: transparent"
            src="https://media.licdn.com/dms/image/D4D0BAQFeL20c49T2BQ/company-logo_200_200/0/1691769281059?e=1727308800&v=beta&t=vhitSvtkQxqiZEo3Zc3esxsDLfjo6PL-VUrbKYUhPRk"
          />
        </div>
      </li>
      <li class="mb-12">
        <div
          class="group relative grid gap-4 pb-1 transition-all sm:grid-cols-8 sm:gap-8 md:gap-4 lg:hover:!opacity-100 lg:group-hover/list:opacity-50"
        >
          <div
            class="absolute -inset-x-4 -inset-y-4 z-0 hidden rounded-md transition motion-reduce:transition-none lg:-inset-x-6 lg:block lg:group-hover:bg-neutral-800/50 lg:group-hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)] lg:group-hover:drop-shadow-lg"
          ></div>
          <div class="z-10 sm:order-2 sm:col-span-6">
            <h3>
              <a
                class="inline-flex items-baseline font-medium leading-tight text-neutral-200 hover:text-teal-300 focus-visible:text-teal-300 group/link text-base"
                href="https://kealab.tech"
                target="_blank"
                rel="noreferrer noopener"
                aria-label="KeaLab page (opens in a new tab)"
                ><span
                  class="absolute -inset-x-4 -inset-y-2.5 hidden rounded md:-inset-x-6 md:-inset-y-4 lg:block"
                ></span
                ><span
                  >KeaLab
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    class="inline-block h-4 w-4 shrink-0 transition-transform group-hover/link:-translate-y-1 group-hover/link:translate-x-1 group-focus-visible/link:-translate-y-1 group-focus-visible/link:translate-x-1 motion-reduce:transition-none ml-1 translate-y-px"
                    aria-hidden="true"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z"
                      clip-rule="evenodd"
                    ></path></svg></span
              ></a>
            </h3>
            <p class="mt-2 text-sm leading-normal">
              I developed and designed kealab.tech with my partner, a platform focused on technological innovation. My
              goal was to create an intuitive and attractive user experience with a modern design, clear content,
              advanced technology, and mobile optimization.
            </p>
          </div>
          <img
            alt="KeaLab page"
            loading="lazy"
            width="200"
            height="48"
            decoding="async"
            data-nimg="1"
            class="rounded border-2 border-neutral-200/10 transition group-hover:border-neutral-200/30 sm:order-1 sm:col-span-2 sm:translate-y-1"
            style="color: transparent"
            src="https://kealab.tech/static/media/logo-brand.ef766bc8bd4dcf896213face6ce99f75.svg"
          />
        </div>
      </li>
    </ul>
  </div>
</section>
