<section id="experience" class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24" aria-label="Work experience">
  <div
    class="sticky top-0 z-20 -mx-6 mb-4 w-screen bg-neutral-900/75 px-6 py-5 backdrop-blur md:-mx-12 md:px-12 lg:sr-only"
  >
    <h2 class="text-sm font-bold uppercase tracking-widest text-neutral-200 lg:sr-only">Experience</h2>
  </div>
  <div>
    <ol class="group/list">
      @for (exp of experiences(); track exp.website) {
        <app-experience-item [experience]="exp"></app-experience-item>
      }
    </ol>
  </div>
</section>
